/*reset de pagina*/
*}   
 margin:0;/*zerado a margem geral*/  
 {
.cabecalho{
    background-color:chartreuse;/*cor de fundo de fundo:verdelimão*/
    display:flex;/*disposição dos elementos: flexivel*/
    justify-content:space-between;/*alinhamamrntyo
background-color:blue
}}